{
  "openapi": "3.0.1",
  "info": {
    "title": "NorthWind API",
    "version": "1.0.0",
    "x-targetEndpoint": "https://65fac952trial.it-cpitrial03-rt.cfapps.ap21.hana.ondemand.com/http"
  },
  "servers": [{ "url": "https://65fac952trial.a.integration.cloud.sap/northwind" }],
  "paths": {
    "/northwind/Employees": {
      "get": {
        "operationId": "getEmployees",
        "summary": "Get Employees",
        "description": "Returns employees. Supports OData: $filter (e.g. City eq 'London'), $top, $select, $orderby",
        "parameters": [
          { "name": "$filter", "in": "query", "schema": { "type": "string" } },
          { "name": "$top",    "in": "query", "schema": { "type": "integer" } },
          { "name": "$select", "in": "query", "schema": { "type": "string" } },
          { "name": "$orderby","in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of employees" } }
      }
    },
    "/northwind/Customers": { 
	   "get": {
        "operationId": "getCustomers",
        "summary": "Get Customers",
        "description": "Returns customers. Supports OData: $filter (e.g. City eq 'London'), $top, $select, $orderby",
        "parameters": [
          { "name": "$filter", "in": "query", "schema": { "type": "string" } },
          { "name": "$top",    "in": "query", "schema": { "type": "integer" } },
          { "name": "$select", "in": "query", "schema": { "type": "string" } },
          { "name": "$orderby","in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of customers" } }
      }
    },
    "/northwind/Orders":    { 
	  "get": {
        "operationId": "getOrders",
        "summary": "Get Orders",
        "description": "Returns orders. Supports OData: $filter (e.g. City eq 'London'), $top, $select, $orderby",
        "parameters": [
          { "name": "$filter", "in": "query", "schema": { "type": "string" } },
          { "name": "$top",    "in": "query", "schema": { "type": "integer" } },
          { "name": "$select", "in": "query", "schema": { "type": "string" } },
          { "name": "$expand", "in": "query", "schema": { "type": "string" } },
          { "name": "$orderby","in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of orders" } }
      }
    }
  }
}